/*
* Colors:
* paper-bag: rgb(209, 162, 104);
* cork: background-image: url("https://i.imgur.com/OSmjGZH.jpg"); 
* creamsicle-khaki: rgb(255, 234, 207);
* lime:  rgb(66, 197, 66);
* sand:  rgb(249, 246, 242)
*/

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
  background-color: whitesmoke;
}

/*LOGIN/SIGNUP PAGE*/

.logo {
  padding-left: 1rem;
  width: 10vw;
}

.login-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sign-in-forms-container {
  min-height: 200px;
  margin: 10px 50px;
  font-family: 'Prata', serif;
  color:rgb(66, 197, 66);
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 30vw;
  background: white;
  border-style: solid;
  border-color: rgb(66, 197, 66);
  border-radius: 10px;
  border-width: 1px;
  padding-left: 3rem;
} 

.welcome-container {
  font-family: 'Prata', serif;
  font-size: 40px;
  color: rgb(66, 197, 66);
  width: 40vw;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-up-in-btn {
  display: block;
  width: 40%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(66, 197, 66);
  color: #fff;
  border-color:rgb(66, 197, 66);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

.sign-up-in-btn:hover {
  border: solid;
  box-shadow: none;
  border-color:rgb(66, 197, 66);
  border-width: 1px;
  background-color: #fff;
  color: rgb(66, 197, 66);
}

.sign-up-login-switch {
  color:rgb(66, 197, 66);
}

.sign-up-login-switch:hover {
  color:hotpink;
  cursor: pointer;
}

/*NAVBAR*/

.navbar {
  font-family: 'Prata', serif;
  color: rgb(66, 197, 66);
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 5px;
  border-bottom: solid;
  border-color: rgb(66, 197, 66);
}

.left-section {
  display: flex;
  align-items: center;
}

.greeting {
  color: hotpink;
  padding-left: 10px;
}

.home-link-logo {
  width: 10vw;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-link {
  color: rgb(66, 197, 66);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.logout-button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  color:  rgb(66, 197, 66);
  height: auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(66, 197, 66);
}

.logout-button:hover {
  background-color: rgb(66, 197, 66);
  color: #f2f2f2;
}