/*
* Colors:
* paper-bag: rgb(209, 162, 104);
* cork: background-image: url("https://i.imgur.com/OSmjGZH.jpg"); 
* creamsicle-khaki: rgb(255, 234, 207);
* lime:  rgb(66, 197, 66);
* sand:  rgb(249, 246, 242)
*/

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
  background-color: whitesmoke;
}

/*LOGIN/SIGNUP PAGE/GENERAL FORM*/

.logo {
  padding-left: 1rem;
  width: 10vw;
}

.login-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.sign-in-forms-container {
  min-height: 200px;
  font-family: 'Prata', serif;
  color:rgb(66, 197, 66);
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 30vw;
  background: white;
  border-style: solid;
  border-color: rgb(66, 197, 66);
  border-radius: 10px;
  border-width: 1px;
  padding-left: 3rem;
} 

.welcome-container {
  font-family: 'Prata', serif;
  font-size: 40px;
  color: rgb(66, 197, 66);
  width: 40vw;
}

h2 {
  text-align: center;
  font-family: 'Prata', serif;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-up-in-btn {
  display: block;
  width: 40%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(66, 197, 66);
  color: #fff;
  border-color:rgb(66, 197, 66);
  border-width: 1px;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}

.sign-up-in-btn:hover {
  border: solid;
  box-shadow: none;
  border-color:rgb(66, 197, 66);
  border-width: 1px;
  background-color: #fff;
  color: rgb(66, 197, 66);
}

.errors-container {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  width: 80%;
  color: #fff;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-up-login-switch {
  color:rgb(66, 197, 66);
}

.sign-up-login-switch:hover {
  color:hotpink;
  cursor: pointer;
}

/*LANDING*/
.landing-container {
  display: flex;
  justify-content: center;
}

/*NAVBAR*/

.navbar {
  font-family: 'Prata', serif;
  color: rgb(66, 197, 66);
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9ff0051;
  padding-top: 5px;
  border-bottom: solid;
  border-color: rgb(66, 197, 66);
}

.left-section {
  display: flex;
  align-items: center;
}

.greeting {
  color: hotpink;
  padding-left: 10px;
}

.home-link-logo {
  width: 10vw;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 30px;
}

.nav-link {
  color: rgb(66, 197, 66);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.logout-span {
  padding-right: 10px;
  font-size: 12px;
  color:  rgb(66, 197, 66);
}

.logout-span:hover {
  color: black;
  cursor: pointer;
}

/*OFFERING CARDS*/

.offering-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
  grid-gap: 30px; 
  max-width: 80%; 
  margin: 0 auto; 
}

.offering-card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  border: solid;
  border-color:rgb(66, 197, 66);
  margin: 10px;
}

.offering-card-middle {
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: hotpink;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.offering-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  border: 5px;
  border: solid;
  border-color: yellow;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
}

.offering-description {
  text-align: left;
  margin-left: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.offering-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
}

.offering-title {
  font-family: 'Prata', serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  border: solid;
  border-radius: 5px;
  padding: 5px;
  border-color: cyan;
  background-color: white;
}

.listed-by {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.offering-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.view-offering-button {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: rgb(191, 60, 252);
  background-color: white;
  color: black;
  font-weight: bold;
}

.view-offering-button:hover {
  background-color: rgba(191, 60, 252, 0.641);
  color: white;
  cursor: pointer;
}

/* OFFERING PAGE*/

.offering-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  border-radius: 5px;
}

.offering-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  padding-right: 50px;
}

.offering-container h1 {
  font-family: 'Prata', serif;
}

.bid-number {
  font-size: 14px;
}

.offering-right {
  width: 40vw;
  padding-left: 30px;
  background-color: rgba(0, 255, 255, 0.493);
  padding-bottom: 40px;
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.condition, .category {
  font-size: 14px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submit-bid-btn {
  border-radius: 5px;
  background-color: white;
  /* border: solid; */
  border-color: black;
  color: black;
  padding: 10px;
  font-size: 14px;
}

.submit-bid-btn:hover {
  background-color: rgba(128, 0, 128, 0.465);
  color: white;
  cursor: pointer;
}

/*NEW BID FORM*/

.new-bid-spacer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-bid-form-container {
  border: solid;
  border-radius: 5px;
  border-color: aqua;
  width: 60%;
  margin-bottom: 20px;
}

.inner-bid-form {
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-bid-button-container button {
  padding: 10px;
  border: solid;
  border-radius: 5px;
  background-color: white;
}

.new-bid-button-container button:hover {
  background-color: aqua;
  cursor: pointer;
}

/*NEW OFFERING*/

.create-offering-form {
  font-family: 'Prata', serif;
  margin-left: 400px;
  width: 50vw;
}

select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-offering-submit-button {
  padding: 10px;
  border-radius: 5px;
  border-color: hotpink;
  background-color: pink;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.create-offering-submit-button:hover {
  background-color: white;
  cursor: pointer;
  color: hotpink;
}

/*BIDS*/

.bids-container {
  display: flex;
  flex-direction: column;
  border-top: solid;
  border-color: yellow;
  width: 70%;
  margin: 0 auto;
}

.bid-card-pink {
  border: solid;
  border-color: hotpink;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.bid-card {
  border: solid;
  border-radius: 5px;
  border-color:rgb(66, 197, 66);
  padding: 20px;
  margin: 20px;
}

.inner-bid-content {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  max-height: 400px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bid-card img, .bid-card-pink img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.bid-edit-delete-buttons {
  display: flex;
  flex-direction: column;
}

.bid-description {
  width: 90%;
}

.bid-edit-delete-buttons button {
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: white;
}

.bid-edit-button:hover {
  background-color: aqua;
  cursor: pointer;
}

.bid-delete-button:hover {
  background-color: yellow;
  cursor: pointer;
}

.no-bids {
  display: flex;
  justify-content: center;
}

.update-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.bid-right-update {
  width: 100%;
}

h3 {
  font-family: 'Prata', serif;
}

.bid-username {
  font-size: 14px;
}

.bid-description {
  font-size: 16px;
}

.bid-save-button {
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: white;
}

.bid-save-button:hover {
  background-color: greenyellow;
  cursor: pointer;
}